.navbar-brand{
    display: flex;
    align-items: center;
}
.navbar-brand span{
    margin-right: 10px;
}
.container{
    margin-left: 170px;
    margin-top: 50px;
}
.btn{
    margin-right: 150px;
}
.col-md-3{
    margin-right: 30px;
}
.popular2{
    margin-top: 20px;
}
